body {
    background:rgb(169, 169, 169);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    background-color: white;
    padding: 10px;
    width: 500px;
    margin: auto;
}

.title{
    background: rgb(232, 232, 232);
    margin-top: 0;
    margin-bottom: 8px;
    padding: 8px 10px;
}

.image{
    display: block;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
    width: 494px;
    height: auto;
    margin-bottom: 8px;
}

.linkcard{
    background:rgb(232, 232, 232);
    padding: 1px;
}

.links {
    color: rgb(94, 94, 94);
    font-weight: bold;
}

.ingredients {
    background: rgb(232, 232, 232);
    padding: 8px;
    padding-top: 1px;
    font-size: smaller;
}